In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

data  = pd.read_csv("USA_Housing.csv")

y = data["Price"]
X = data.drop(["Price","Address"],axis=1)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

In [7]:
X_test.head(10)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
398,61200.726175,5.299694,6.234615,4.23,42789.692217
3833,63380.814670,5.344664,6.001574,2.45,40217.333577
4836,71208.269301,5.300326,6.077989,4.01,25696.361741
4572,50343.763518,6.027468,5.160240,4.35,27445.876739
636,54535.453719,5.278065,6.871038,4.41,30852.207006
2545,77459.757856,4.282450,5.980079,4.48,37910.294982
1161,44088.274183,7.557643,5.581041,2.44,31032.920303
2230,58874.273843,6.342055,6.645742,2.11,19772.521662
148,90975.113272,4.740683,8.320352,6.45,44426.213648
2530,77825.227469,6.720493,7.425285,5.17,31439.971219

In [8]:
from LinearRegression import LinearRegression

LR = LinearRegression(lr=0.01, n_iters=1000)

LR.fit(X_train, y_train)
predictions = LR.predict(X_test)

def mse(y_true, y_predicted):
    return np.mean((y_true - y_predicted) ** 2)

mse_value = mse(y_test, predictions)
print(mse_value)

2.3554782546325907e+28

In [9]:
Y_pred = LR.predict(X_test)

print("Predicted values ", np.round( Y_pred[:3], 2 ))

print("Real values      ", y_test[:3])

Predicted values  [1.45339105e+14 1.46754617e+14 1.46983827e+14]
Real values       398     894251.068636
3833    932979.360621
4836    920747.911288
Name: Price, dtype: float64